.bundle/
/pkg/
/vendor/
.DS_Store
/.yardoc
/.cache
/coverage/
/*.gem
/.env
/.env.*
/.idea/
/.vscode/
/.rubocop-*
node_modules/
spec/.result
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
.rspec_status
